# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/
env/

# Ignore Poetry artifacts
poetry.lock

# VSCode settings (optional)
.vscode/

# Output files
output.txt
vocabulary.json

# OS / system files
.DS_Store
Thumbs.db
